#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
    #nav_menu ul li a.lastitem { border-right: none; }	
    #nav_menu ul li a.current { color: yellow; }
    html {
        background-image: linear-gradient(to left, white 0%, #8afaed 100%);
    }
    body {
        font-family:Arial, Helvetica, sans-serif;
        font-size: 100%;
        margin-left: 15px;
        width: 95%;
        background-color: white;
        margin: 15px auto;
        padding: 15px 1.5em;
        border: 1px solid black; 
        border-radius: 25px;
        box-shadow: 5px 5px 0 0; }
article {
        clear: left;
        width: 75%;
        float: left;
        column-count: 3;
        column-rule: 2px dotted blue;
        column-gap: 2em;
        margin-left: 2em;
}
article h1 {
    font-size: 175%;
    color: blue;
    text-indent: 30px;
    column-span: all;
    text-align: left;
}
article h2 {
    font-size: 130%;
    color: blue;
    text-align: left;
}
aside ol {
    list-style-type: upper-roman;
    padding: 1em;
}    
aside ul {
    list-style-type: square;
    padding: 1em;
}
aside {
    width: 20%;
    float: right;
    position: fixed;
    bottom: 35%;
    right: 0;
    background-color: lightblue;
    border: 3px solid blue;
    padding: 20px;
}
a:focus, a:hover {
    font-style: italic;
    color: orangered;
    border: 3px blue;
    border-style: dotted solid;
}
main {
    border-top: 2px solid blue;
}
footer {
    clear: both;
    border-top: 2px solid blue;
}
footer p.copyright {
    text-align: center;
    font-size: 80%;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: black;
}
article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}